<header>
  <glava></glava>
</header>
<navigacija></navigacija>
<div class="container">

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p class="lead">Ste že registrirani uporabnik? Prosim <a href="/prijava?stran={{ vm.prvotnaStran }}">prijavite</a> se.</p>
      <form ng-submit="vm.posiljanjePodatkov()" autocomplete="off">
        <div role="alert" ng-show="vm.napakaNaObrazcu" class="alert alert-danger">{{ vm.napakaNaObrazcu }}</div>
        <div class="form-group">
          <label for="firstname">Ime</label>
          <input type="text" class="form-control" id="firstname" placeholder="First name" ng-model="vm.prijavniPodatki.firstname">
        </div>
        <div class="form-group">
          <label for="username">Uporabniško ime</label>
          <input ng-model="vm.prijavniPodatki.username" type="text" class="form-control" id="username" placeholder="Vnesite svoje uporabniško ime">
        </div>
        <div class="form-group">
          <label for="email">Elektronski naslov</label>
          <input ng-model="vm.prijavniPodatki.email" type="email" class="form-control" id="email" placeholder="Vnesite elektronski naslov">
        </div>
        <div class="form-group">
          <label for="password">Geslo</label>
          <input ng-model="vm.prijavniPodatki.password" type="password" class="form-control" id="password" placeholder="Geslo">
        </div>
        <div class="form-group">
          <label for="password2">Ponovi geslo</label>
          <input ng-model="vm.prijavniPodatki.password2" type="password" class="form-control" id="password2" placeholder="Ponovno vpišite geslo">
        </div>
        <div class="form-group">
          <label for="city">Mesto</label>
          <input ng-model="vm.prijavniPodatki.city" type="text" class="form-control" id="city" placeholder="Mesto">
        </div>
        <div class="form-group">
          <label for="state">State</label>
          <input ng-model="vm.prijavniPodatki.state" type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div class="form-group">
          <label for="dance">Ples</label>
          <input ng-model="vm.prijavniPodatki.dance" type="text" class="form-control" id="dance" placeholder="Ples">
        </div>
        <button type="submit" class="btn btn-default">Registriraj!</button>
      </form>
    </div>
  </div>

  <noga></noga>
</div>