extends layout

block content
  br
  h3 Brisanje obstoječih seznamov iz DB
  button#gumbDelete.btn.btn-default Delete
  br
  br
  h3 Vnos začetnih podatkov v DB
  a.btn.btn-default(href='/addData') Add Data 

  script(src="/javascripts/db.js")

