extends layout

block content

  form(action='/edituserprofile', method='POST')
    .form-group
      label(for='formGroupExampleInput') Name
      input#formGroupNameInput.form-control(name="firstname", type='text', placeholder='Name input')
    .form-group
      label(for='formGroupExampleInput') User name
      input#formGroupNameInput.form-control(name="username", type='text', placeholder='Name input')
    .form-group
      label(for='formGroupExampleInput2') Email
      input#formGroupEmailInput.form-control(name="email", type='text', placeholder='Email input')
    .form-group
      label(for='formGroupExampleInput') Pasword
      input#formGroupNameInput.form-control(name="password", type='text', placeholder='Name input')
    .form-group
      label(for='formGroupExampleInput') Retype Password
      input#formGroupNameInput.form-control(name="passwordRetype", type='text', placeholder='Name input')
    .form-group
      label(for='formGroupExampleInput2') City
      input#formGroupCityInput.form-control(name="city", type='text', placeholder='City input')
    .form-group
      label(for='formGroupExampleInput2') State
      input#formGroupStateInput.form-control(name="state", type='text', placeholder='State input')
    .form-group
      label(for='formGroupExampleInput2') Gender
      input#formGroupGenderInput.form-control(name="gender", type='text', placeholder='Gender input')
    .form-group
      label(for='formGroupExampleInput2') Dance
      input#formGroupDanceInput.form-control(name="dance", type='text', placeholder='Dance input')
    br
    br
    button.btn.btn-default(type='submit') Submit Changes
