extends layout

block content
  section
      .container
        .row
          .col-md-8
            .groups
              h1.page-header Groups
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group One
                p This is a sample Dancing Things social network group
                p
                  a.btn.btn-default(href='#') Join Group
              .clearfix
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group Two
                p This is a sample Dancing Things social network group
                p
                  a.btn.btn-default(href='#') Join Group
              .clearfix
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group Three
                p This is a sample Dancing Things social network group
                p
                  a.btn.btn-default(href='#') Join Group
              .clearfix
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group Four
                p This is a sample Dancing Things social network group
                p
                  a.btn.btn-default(href='#') Join Group
              .clearfix
              a.btn.btn-default(href='/creategroup') Create a new group
          // col-md-8 end
          .col-md-4
            .panel.panel-default.friends
              .panel-heading
                h3.panel-title My Friends
              .panel-body
                ul
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                .clearfix
                a.btn.btn-primary(href='#') View All Friends
            .panel.panel-default.groups
              .panel-heading
                h3.panel-title Latest Groups
              .panel-body
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                a.btn.btn-primary(href='#') View All Groups
