extends layout


block content
  section
      .container
        .row
          .col-md-8
            .panel.panel-default
              .panel-heading
                h3.panel-title Wall
              .panel-body(ng-repeat="objava in data.objave")
                - urlNewPost = '/newpost/' + currentActiveUser
                form(action=urlNewPost, method='POST')
                  .form-group
                    textarea.form-control(name='vsebinaObjave', placeholder='Write on the wall')
                  button.btn.btn-default(type='submit') Submit
                  .pull-right
                    .btn-group
                      button.btn.btn-default(type='button')
                        i.fas.fa-pencil-alt
                        |  Text
                      button.btn.btn-default(type='button')
                        i.fas.fa-images
                        |  Image
                      button.btn.btn-default(type='button')
                        i.fas.fa-video
                        |  Video

            ul.postListing(ng-controller="seznamObjavCtrl")  
                li(ng-repeat="objava in data.objave")         
                  .panel.panel-default.post
                    .panel-body
                      .row
                        .col-sm-2  
                          a.post-avatar.thumbnail(href='images/user-default.jpg')
                            img(src='images/user-default.jpg')
                            .text-center {{ objava.postAuthor }}
                          .likes.text-center 7 Likes
                        // col-sm-2 end
                        .col-sm-10
                          .bubble
                            .pointer
                              p {{ objava.text }}
                            .pointer-border
                          // bubble end
                          p.post-actions
                            a(href='#') Like
                          .comment-form
                            - urlCommentAdd = '/comment/' + '5bf3edfbd43e2e4187d0b2a3' + '/addcomment/' + currentActiveUser
                            form.form-inline(action=urlCommentAdd, method='POST')
                              .form-group
                                input#exampleInputName2.form-control(type='text', name="vsebinaKomentarja" placeholder='Enter Comment')
                              button.btn.btn-default(type='submit') Add
                          // comment form end
                          .clearfix
                          .comments(ng-repeat="comment in objava.comments")
                            ul.postListing
                                .comment
                                  a.comment-avatar.pull-left(href='#')
                                    img(src='images/user-default.jpg')
                                  .comment-text
                                    p {{ comment.commentText }}
                                .clearfix
            
          // col-md-8 end
          .col-md-4
            .panel.panel-default.friends
              .panel-heading
                h3.panel-title My Friends
              .panel-body
                ul
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                .clearfix
                a.btn.btn-primary(href='#') View All Friends
            .panel.panel-default.groups
              .panel-heading
                h3.panel-title Latest Groups
              .panel-body
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                a.btn.btn-primary(href='#') View All Groups