doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dancing Things
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
  body
    header
      .container
        img.logo(src='images/white_logo_transparent_background.png')
        // Search form
        form.form-inline
          input.form-control.searchbar(type='text', placeholder='Search', aria-label='Search')
    nav.navbar.navbar-default
      .container
        .navbar-header
          
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/homepage') Home
            li
              a(href='/members') Members
            li
              a(href='/groups') Groups
            li
              a(href='/photos') Photos
            li
              a(href='/profil') Profile
   
    .container
      block content

    footer
      .container
        p Dancing Things Copyright © 2018, All Rights Reserved

  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')