extends layout

block content
  section
    .container  
      .row
          .col-md-8
            .members
              h1.page-header Members
              .row.member-row
                .col-md-3
                  img.img-thumbnail(src='images/user-default.jpg')
                  .text-center SomeUser01
                .col-md-3
                  p
                    a.btn.btn-success.btn-block(href='#')
                      i.fa.fa-users
                      |  Add Friend
                .col-md-3
                  p
                    a.btn.btn-default.btn-block(href='#')
                      i.fa.fa-envelope
                      |  Send Message
                .col-md-3
                  p
                    a.btn.btn-primary.btn-block(href='#')
                      i.fa.fa-edit
                      |  View Profile
              .row.member-row
                .col-md-3
                  img.img-thumbnail(src='images/user-default.jpg')
                  .text-center SomeUser02
                .col-md-3
                  p
                    a.btn.btn-success.btn-block(href='#')
                      i.fa.fa-users
                      |  Add Friend
                .col-md-3
                  p
                    a.btn.btn-default.btn-block(href='#')
                      i.fa.fa-envelope
                      |  Send Message
                .col-md-3
                  p
                    a.btn.btn-primary.btn-block(href='#')
                      i.fa.fa-edit
                      |  View Profile
              .row.member-row
                .col-md-3
                  img.img-thumbnail(src='images/user-default.jpg')
                  .text-center SomeUser03
                .col-md-3
                  p
                    a.btn.btn-success.btn-block(href='#')
                      i.fa.fa-users
                      |  Add Friend
                .col-md-3
                  p
                    a.btn.btn-default.btn-block(href='#')
                      i.fa.fa-envelope
                      |  Send Message
                .col-md-3
                  p
                    a.btn.btn-primary.btn-block(href='#')
                      i.fa.fa-edit
                      |  View Profile
              .row.member-row
                .col-md-3
                  img.img-thumbnail(src='images/user-default.jpg')
                  .text-center SomeUser04
                .col-md-3
                  p
                    a.btn.btn-success.btn-block(href='#')
                      i.fa.fa-users
                      |  Add Friend
                .col-md-3
                  p
                    a.btn.btn-default.btn-block(href='#')
                      i.fa.fa-envelope
                      |  Send Message
                .col-md-3
                  p
                    a.btn.btn-primary.btn-block(href='#')
                      i.fa.fa-edit
                      |  View Profile
          // col-md-8 end
          .col-md-4
            .panel.panel-default.friends
              .panel-heading
                h3.panel-title My Friends
              .panel-body
                ul
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                  li
                    a.thumbnail(href='profile.html')
                      img(src='images/user-default.jpg')
                .clearfix
                a.btn.btn-primary(href='#') View All Friends
            .panel.panel-default.groups
              .panel-heading
                h3.panel-title Latest Groups
              .panel-body
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                .group-item
                  img(src='images/group.png')
                  h4
                    a(href='#') Sample Group One
                  p This is a Dancing Things social network sample group
                .clearfix
                a.btn.btn-primary(href='#') View All Groups          