extends layout

block content
  section
    .container
      .row
        .col-md-8
          .profile
            h1.page-header John Doe
            .row
              .col-md-4
                img.img-thumbnail(src='images/user-default.jpg')
              .col-md-8
                ul
                  li
                    strong Name:
                    |  John Doe
                  li
                    strong Email Address: 
                    | johndoe@gmail.com
                  li
                    strong City: 
                    | Boston
                  li
                    strong State: 
                    | Massachusetts
                  li
                    strong Gender:
                    |  Male
                  li
                    strong Dance: 
                    | Street dance
            br
            br
            .row
              .col-md-12
                .panel.panel-default
                  .panel-heading
                    h3.panel-title Profile Wall
                  .panel-body
                    form
                      .form-group
                        textarea.form-control(placeholder='Write on the wall')
                      button.btn.btn-default(type='submit') Submit
                      .pull-right
                        .btn-group
                          button.btn.btn-default(type='button')
                            i.fa.fa-pencil
                            |  Text
                          button.btn.btn-default(type='button')
                            i.fa.fa-file-image-o
                            |  Image
                          button.btn.btn-default(type='button')
                            i.fa.fa-file-video-o
                            |  Video
                .panel.panel-default.post
                  .panel-body
                    .row
                      .delete-button
                        button.btn.btn-default(type='button')
                          i.fas.fa-trash-alt
                      .col-sm-2
                        a.post-avatar.thumbnail(href='images/user-default.jpg')
                          img(src='images/user-default.jpg')
                          .text-center Me
                        .likes.text-center 7 Likes
                      // col-sm-2 end
                      .col-sm-10
                        .bubble
                          .pointer
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt eget ante eget feugiat. Praesent adipiscing tortor eu tincidunt tempus. Sed convallis est in ante sodales, sit amet consectetur leo commodo.
                          .pointer-border
                        // bubble end
                        p.post-actions
                          a(href='#') Like
                          |  - 
                          a(href='#') Comment
                          |  - 
                          a(href='#') Share
                          |  - 
                          a(href='#') Follow
                        .comment-form
                          form.form-inline
                            .form-group
                              input#exampleInputName2.form-control(type='text', placeholder='Enter Comment')
                              button.btn.btn-default(type='submit') Add
                        // comment form end
                        .clearfix
                        .comments
                          .comment
                            a.comment-avatar.pull-left(href='#')
                              img(src='images/user-default.jpg')
                            .comment-text
                              p Sed convallis est in ante sodales, sit amet consectetur leo commodo.
                          .clearfix
                          .comment
                            a.comment-avatar.pull-left(href='#')
                              img(src='images/user-default.jpg')
                            .comment-text
                              p Sed convallis est in ante sodales, sit amet consectetur leo commodo.
                          .clearfix
        // col-md-8 end
        .col-md-4
          .panel.panel-default.friends
            .panel-heading
              h3.panel-title My Friends
            .panel-body
              ul
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
                li
                  a.thumbnail(href='profile.html')
                    img(src='images/user-default.jpg')
              .clearfix
              a.btn.btn-primary(href='#') View All Friends
          .panel.panel-default.groups
            .panel-heading
              h3.panel-title Latest Groups
            .panel-body
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group One
                p This is a Dancing Things social network sample group
              .clearfix
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group One
                p This is a Dancing Things social network sample group
              .clearfix
              .group-item
                img(src='images/group.png')
                h4
                  a(href='#') Sample Group One
                p This is a Dancing Things social network sample group
              .clearfix
              a.btn.btn-primary(href='#') View All Groups