doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Dancing Things Sign Up
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style-signup.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
    body
      #login-box
        .left-box
          h1  Sign Up
          form(action='/signup', method='POST')
            input(type='text', name='username', placeholder='Username')
            input(type='text', name='firstname', placeholder='Name')
            input(type='text', name='email', placeholder='Email')
            input(type='password', name='password', placeholder='Password')
            input(type='password', name='passwordRetype', placeholder='Retype password')
            input(type='text', name='state', placeholder='State')
            input(type='text', name='city', placeholder='City')
            input(type='text', name='gender', placeholder='Gender')
            input(type='text', name='dance', placeholder='Dance')
            input(type='submit', value='Submit')
        .right-box
        //.logo
          //img(src='images/dark_logo_transparent_background.png')
      .right-box
  script(src="/javascripts/sign-up-validation.js")