html
  head
    title  Signup Form Design Tutorial 
    link(rel='stylesheet', type='text/css', href='css/sign-up-style.css')
  body
    #login-box
      .left-box
        h1  Sign Up
        input(type='text', name='username', placeholder='Username')
        input(type='text', name='email', placeholder='Email')
        input(type='password', name='password', placeholder='Password')
        input(type='password', name='password2', placeholder='Retype password')
        form(action='index.html')
          input(type='submit', name='signup-button', value='Sign Up')
      .right-box
      .logo
        img(src='img/dark_logo_transparent_background.png')