<header>
  <glava></glava>
</header>
<navigacija></navigacija>
<div class="container">
  <div ng-show="vm.jePrijavljen" class="col-xs-12 col-sm-8">
    <div ng-if="vm.groups.length !== 0">
      <label for="filter">Filtriranje Posts</label>
      <input id="filter" type="text" name="filter" ng-model="filterRezultatov"></div>
    </div>
	<section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Wall</h3>
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <textarea ng-model="vm.podatkiObrazca.text" class="form-control" placeholder="Write on the wall"></textarea>
                </div>
                <button ng-click="vm.novaObjava()" type="submit" class="btn btn-default">Submit</button>
              </form>        
            </div>
          </div>
          <div ng-if="vm.objave.length === 0">
            <p ng-show="vm.jePrijavljen">Hmm... it seems like there are no posts yet.</p>
          </div>
          <div ng-show="vm.jePrijavljen" class="panel panel-default post" 
          ng-repeat="objava in vm.objave">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                  <a class="post-avatar thumbnail" href="images/user-default.jpg"><img src="images/user-default.jpg">
                  	<div class="text-center">{{ objava.postAuthor }}</div></a>
                </div><!-- col-sm-2 end -->
                <div class="col-sm-10">
                  <div class="bubble">
                    <div class="pointer">
                      <p>{{ objava.text }}</p>
                    </div>
                    <div class="pointer-border"></div>
                  </div><!-- bubble end -->
                  <p class="post-actions"><a href="#">Like</a> - <a href="#">Share</a> - <a href="#">Follow</a> </p>
                  <div class="comment-form">
                    <form class="form-inline">
                      <!--<div class="form-group">
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter Comment"> 
                      </div> -->
                      <p ng-if="objava.postAuthor==vm.trenutniUporabnik.username"><a ng-click="vm.postUI(objava._id, objava.text)" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Edit Post</a></p>
                      <p ng-if="objava.postAuthor==admin"><a ng-click="vm.postUI(objava._id, objava.text)" class="btn btn-default">Edit Post</a></p>
                      <button type="submit" class="btn btn-default" ng-click="vm.novKomentar(objava._id, objava.comments, objava.text, objava.postAuthor)">Add Comment</button>
                    </form>
                  </div><!-- comment form end -->
                  <div class="clearfix"></div>

                  <div class="comments" ng-repeat="comment in objava.comments">
                    <div ng-if="objava.comments.length>1" class="comment">
                      <a class="comment-avatar pull-left" href="#"><img src="images/user-default.jpg"></a>
                      <div class="comment-text">
                        <p> {{ comment }} </p>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p ng-hide="vm.jePrijavljen">You have to log in first</p>
            <a ng-hide="vm.jePrijavljen" href="/prijava?stran={{ vm.prvotnaStran }}" class="btn btn-default">Log in</a>
          </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default friends">
              <div class="panel-heading">
                <h3 class="panel-title">Members</h3>
              </div>
              <div class="panel-body">
                <p ng-hide="vm.jePrijavljen">You have to log in first</p>
                  <div ng-if="vm.users.length === 0">
                    <p ng-show="vm.jePrijavljen">Hmm... it seems like there are no users yet.</p>
                  </div>
                  <li ng-show="vm.jePrijavljen" ng-repeat="user in vm.users"><a class="thumbnail" href="#"><img src="images/user-default.jpg"></a><div id="usernames" class="text-center">{{user.username}}</div></li>
                </ul>
                <div class="clearfix"></div>
                <a ng-if="vm.users.length!==0" ng-show="vm.jePrijavljen" class="btn btn-primary" href="/members">View All Members</a>
              </div>
            </div>

            <div class="panel panel-default groups">
              <div class="panel-heading">
                <h3 class="panel-title">Latest Groups</h3>
              </div>
              <div class="panel-body">
                <p ng-hide="vm.jePrijavljen">You have to log in first</p>
                <div ng-if="vm.groups.length === 0">
                  <p ng-show="vm.jePrijavljen">Hmm... it seems like there are no groups yet.</p>
                  </div>
                <div ng-show="vm.jePrijavljen" ng-repeat="group in vm.groups">
                  <div class="group-item">
                    <img src="images/group.png">
                    <h4><a href="#">{{group.groupName}}</a></h4>
                    <p>{{group.about}}</p>
                  </div>
                  <div class="clearfix"></div>
                  </div> 
                <a ng-show="vm.jePrijavljen" class="btn btn-primary" href="/groups">View All Groups</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
<!-- pagination -->
<div ng-if="vm.pageNumber === 1" class="text-center">
  <nav aria-label="Page navigation">
      <ul class="pagination">
          <li>
          <a aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
          </li>
          <li><a>{{ vm.currPage }} / {{ vm.pageNumber }}</a></li>
          <li>
          <a aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
          </li>
      </ul>
  </nav>
</div>
<div ng-if="vm.pageNumber > 1" class="text-center">
  <nav aria-label="Page navigation">
      <ul class="pagination">
          <li>
          <a ng-click="vm.prevPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
          </a>
          </li>
          <li><a>{{ vm.currPage }} / {{ vm.pageNumber }}</a></li>
          <li>
          <a ng-click="vm.nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
          </a>
          </li>
      </ul>
  </nav>
</div>

<!-- end of pagination -->
<noga></noga>
