<header>
  <glava></glava>
</header>
<navigacija></navigacija>
<section>
  <div class="container">
    <div ng-show="vm.jePrijavljen" class="col-xs-12 col-sm-8">
      <div ng-if="vm.users.length !== 0">
        <label for="filter">Filter Members</label>
        <input id="filter" type="text" name="filter" ng-model="filterRezultatov">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="members">
          <h1 class="page-header">Members</h1>
          <div ng-show="vm.jePrijavljen" ng-if="vm.users.length === 0">
            <p>Hmm... it seems like Dancing Things has no members yet.</p>
          </div>
          <div ng-show="vm.jePrijavljen" class="row member-row" ng-repeat="user in vm.users | filter: filterRezultatov">
            <div class="col-md-3">
              <img src="images/user-default.jpg" class="img-thumbnail">
              <div class="text-center">{{ user.username }}</div>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-success btn-block"><i class="fa fa-users"></i> Add Friend</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-default btn-block"><i class="fa fa-envelope"></i> Send Message</a></p>
            </div>
            <div class="col-md-3">
              <p><a href="#" class="btn btn-primary btn-block"><i class="fa fa-edit"></i> View Profile</a></p>
            </div>
          </div>
          <div>
            <p ng-hide="vm.jePrijavljen">You have to log in first</p>
            <a ng-hide="vm.jePrijavljen" href="/prijava?stran={{ vm.prvotnaStran }}" class="btn btn-default">Log in</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<noga></noga>
